html, body, main, #root, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.4));
}

.option-nav {
    background-color: var(--color-background);
    height: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
    position: relative;
    z-index: 5;

    box-shadow: 0 0px 10px rgba(0, 0, 0, 20);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    min-width: 270px;
}

.main-screen {
    flex: 1;
    height: 100%;
}

.top-menu {
    background-color: var(--color-background);
    width: 100%;
    height: 6%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 20);

    position: relative;
    z-index: 4;
}

.home-button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2.5%;
    width: 90%;
    height: 5%;
    min-height: 35px;

    background-color: var(--color-base);  
    color: var(--color-text);

    border: none;
    border-radius: 10px;

    transition: all ease-in-out 0.15s;
}

.home-button p {
    font-size: 90%;
    font-weight: bold;
}

.home-button:hover {
    background-color: var(--color-surface);
    cursor: pointer;
}

.button-icon {
    font-size: 150%;
    margin: 0 2.5%;
}

.divider {
    width: 90%;
    margin: 2.5%;
    border: solid 1px var(--color-secondary);
}

.proyect-list {
    padding: 0;
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#new-project {
    position: relative;
    background: none;
    border-radius: 10px;
    border: none;
    width: 90%;
    min-height: 20px;

    font-size: 10px;
    transition: opacity 0.15s ease;
}

#new-project p {
    opacity: 0;
    font-size: 12px;
    transform: translateX(-10px);
    transition: opacity 0.15s ease, transform 0.3s ease;
}


#new-project:hover {
    background-color: var(--color-surface);
    cursor: pointer;
}

#new-project:hover p {
    opacity: 1;
    transform: translateX(0);
    cursor: pointer;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 120px;
    width: 100%;
}