.main-container {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.help-nav {
    background-color: var(--color-background);
    height: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    padding: 0.5%;

    position: relative;
    z-index: 5;

    box-shadow: 0 0px 10px rgba(0, 0, 0, 20);
}

.display {
    flex: 1;
    display: flex;
    overflow-x: hidden; 
}