.sign-container {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-form {
    flex: 1;
    height: 90%;

    padding: 2.5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-form span {
    color: var(--color-secondary);
}

.text-section, .input-section, .buttons-section {
    width: 100%;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 28%;
}

.text-section h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex: 1;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    height: fit-content;
    width: 92.5%;
}

.icon-input {
    height: 5%;
    border-bottom: solid 2px var(--color-secondary);

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 100%;
}

.label-input label {
    font-style: italic;
    margin: 0;
}

.sign-container input {
    height: 5%;
    border: none;
    background: none; 

    
    color: var(--color-text);
    padding: 2.5% 0 2.5% 1.5%;
}

.sign-container input:focus {
    outline: none;
}

.sign-container input:focus::placeholder {
    color: transparent;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 22.5%;
}

.sign-cover {
    background-color: var(--color-secondary);
    box-shadow: 0 0.3px 10px rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 50%;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 1.5%;
}


.sign-cover h1 {
    color: var(--color-base);
    font-weight: bolder;
    font-size: 300%;
    font-family: "Macondo Swash Caps";

    position: fixed;
    top: 5%;
}

.sign-cover h1 span {
    color: var(--color-base);
    font-size: 150%;
    font-weight: 200;
}

.sign-cover h2 {
    color: var(--color-base);
    font-weight: 400;

    position: fixed;
    top: 78.5%;
}

.sign-cover span {
    color: var(--color-base);
    font-weight: bold;
}

.icon-container {
    width: 50%;
    height: 37%;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);

    background-color: var(--color-base);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: levitate 3s ease-in-out infinite alternate;
}

.sign-cover img {
    width: 105%;
    aspect-ratio: 1/1;

}

@keyframes levitate {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

.sign-button {
    width: 90%;
    padding: 3.5% 0;
    border-radius: 20px;

    background-color: var(--color-secondary);
    border: outset 1px var(--color-secondary);
    color: var(--color-base);

    font-weight: bold;
    font-style: italic;

    transition: all 0.1s ease;
}

.sign-button:hover {
    background-color: var(--color-secondary-hover);
    border: outset 1px var(--color-secondary-hover);
}

.sign-button:active {
    transform: scale(0.98) translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    
}