p {
    text-align: justify;
    padding: 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.image-container img {
    aspect-ratio: 2/1;
    width: 100%;
    background-color: lightblue;
}

.image-container img:only-child {
    grid-column: span 2;
    justify-self: center;
    width: auto;
    max-width: 800px;
}

.text-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #0077cc;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}